# Django
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.log
local_settings.py
db.sqlite3
media/

# RAG/Llama models or data
llama_models/
rag_data/
*.ckpt
*.pth

# Python
venv/
env/
.idea/
.vscode/
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
